body{
    font-family: arial,helvetica;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0;
    background: #0e31cc;
    width: 90%;
    max-width: 1000 px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display:inline-block;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}